certifi==2020.4.5.2
chardet==3.0.4
cycler==0.10.0
ewave==1.0.5
Gammatone @ git+https://github.com/detly/gammatone.git@0626328ef7c31d3b33214db2fdcd52e8601eb4c5
idna==2.9
joblib==0.15.1
kiwisolver==1.2.0
libtfr==2.1.4
matplotlib==3.2.2
mock==4.0.2
neurobank==0.8.6
nose==1.3.7
numpy==1.18.5
pandas==1.0.5
pkgconfig==1.5.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
requests==2.24.0
scikit-learn==0.23.1
scipy==1.4.1
six==1.15.0
threadpoolctl==2.1.0
toelis==2.0.1
urllib3==1.25.9
